@page "/blog"
<PageTitle>suryami62 | Blog</PageTitle>
<h1 class="text-center">Blog</h1>
,<div class="text-center">
	<i class="fa-solid fa-gears fa-10x d-block mx-auto"></i>
	<h2>
		Under development
	</h2>
</div>
@code {

}
