@page "/"

<PageTitle>suryami62</PageTitle>

<!-- Intro components -->
<img src="img/photo.webp" alt="Foto Surya Ramadhan" class="mx-auto d-block rounded-circle img-thumbnail" width="150" />

<h1 class="text-center">Surya Ramadhan</h1>
<p class="text-center">@("@suryami62")</p>

<p class="text-center">
	Halo all, <br />
	I am an enthusiastic web and application developer who is constantly on the lookout for new opportunities to expand my skills.
</p>

<!-- Social media components -->
<div class="text-center">
	<a aria-label="facebook" href="https://www.facebook.com/suryami62/" target="_blank">
		<i class="fa-brands fa-square-facebook fa-3x px-1"></i>
	</a>

	<a aria-label="instagram" href="https://www.instagram.com/suryami62/" target="_blank">
		<i class="fa-brands fa-square-instagram fa-3x px-1"></i>
	</a>

	<a aria-label="twitter" href="https://twitter.com/suryami62/" target="_blank">
		<i class="fa-brands fa-square-x-twitter fa-3x px-1"></i>
	</a>

	<a aria-label="linkedin" href="https://www.linkedin.com/in/suryami62/" target="_blank">
		<i class="fa-brands fa-linkedin fa-3x px-1"></i>
	</a>
</div>


<!-- List components -->
<div class="accordion pt-3" id="component1">
	<div class="accordion-item">

		<!-- Component Title -->
		<h2 class="accordion-header" id="repository">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#repositoryList" aria-expanded="false" aria-controls="repositoryList">
				My Code Repositories
			</button>
		</h2>

		<!-- List of items -->
		<div id="repositoryList" class="accordion-collapse collapse" aria-labelledby="repository" data-bs-parent="#component1">
			<div class="accordion-body text-center">

				<a class="btn btn-primary" href="https://github.com/suryami62/" target="_blank">
					<i class="fa-brands fa-github fa-2xl d-block mx-auto"></i>
					<span>GitHub</span>							
				</a>

				<a class="btn btn-primary" href="https://gitlab.com/suryami62/" target="_blank">
					<i class="fa-brands fa-gitlab fa-2xl d-block mx-auto"></i>
					<span>GitLab</span>
				</a>

				<a class="btn btn-primary" href="https://hub.docker.com/u/suryami62/" target="_blank">
					<i class="fa-brands fa-docker fa-2xl d-block mx-auto"></i>
					<span>Docker</span>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- List components -->
<div class="accordion pt-3" id="component2">
	<div class="accordion-item">

		<!-- Component Title -->
		<h2 class="accordion-header" id="forum">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#forumList" aria-expanded="false" aria-controls="forumList">
				Developer Forums
			</button>
		</h2>

		<!-- List of items -->
		<div id="forumList" class="accordion-collapse collapse" aria-labelledby="forum" data-bs-parent="#component2">
			<div class="accordion-body text-center">

				<a class="btn btn-primary" href="https://dev.to/suryami62/" target="_blank">
					<i class="fa-brands fa-dev fa-2xl d-block mx-auto"></i>
					<span>DEV</span>
				</a>

				<a class="btn btn-primary" href="https://stackoverflow.com/users/23341600" target="_blank">
					<i class="fa-brands fa-stack-overflow fa-2xl d-block mx-auto"></i>
					<span>Stack Overflow</span>
				</a>

				<a class="btn btn-primary" href="@("https://hashnode.com/@suryami62")" target="_blank">
					<i class="fa-brands fa-hashnode fa-2xl d-block mx-auto"></i>
					<span>Hashnode</span>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- List components -->
<div class="accordion pt-3" id="component3">
	<div class="accordion-item">
		
		<!-- Component Title -->
		<h2 class="accordion-header" id="video">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#videoList" aria-expanded="false" aria-controls="videoList">
				My video platforms
			</button>
		</h2>

		<!-- List of items -->
		<div id="videoList" class="accordion-collapse collapse" aria-labelledby="video" data-bs-parent="#component3">
			<div class="accordion-body text-center">

				<a class="btn btn-primary" href="https://www.facebook.com/watch.suryami62/" target="_blank">
					<i class="fa-brands fa-facebook-f fa-2xl d-block mx-auto"></i>
					<span>Facebook</span>
				</a>

				<a class="btn btn-primary" href="@("https://www.youtube.com/@suryami62")" target="_blank">
					<i class="fa-brands fa-youtube fa-2xl d-block mx-auto"></i>
					<span>Youtube</span>
				</a>
				
				<a class="btn btn-primary" href="https://www.twitch.tv/suryami62/" target="_blank">
					<i class="fa-brands fa-twitch fa-2xl d-block mx-auto"></i>
					<span>Twitch</span>
				</a>
			</div>
		</div>
	</div>
</div>