dataprotection-keys/
.git/
.vs/
.vscode/
uploads/
*.user
*.suo
**/.dockerignore
**/.env
**/.env.*
.env
.env.*
**/.envrc
**/appsettings.Development.json
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/bin/
**/obj/
**/secrets.dev.yaml
**/values.dev.yaml
**/qodana.yaml
LICENSE
README.md