<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Page Not Found | Surya Ramadhan's website</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="min-h-screen hero">
                <div class="flex-row hero-content">
                    <div class="text-center">
                        <h1 class="py-4 text-6xl font-bold">404</h1>
                        <i class="mx-auto fa-solid fa-link-slash fa-10x d-block"></i>
                        <h2 class="py-4">Page Not Found</h2>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
