<a class="m-2" href="@Href" aria-label="@AriaLabel" target="_blank" rel="noopener noreferrer">
    <i class="@IconClass fa-3x" aria-hidden="true"></i>
</a>

@code {
    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public string? AriaLabel { get; set; }

    [Parameter]
    public string? IconClass { get; set; }
}
