@import "tailwindcss";

@source "../Layout";
@source "../Pages";
@source "../Shared";
@source "../wwwroot/index.html";

h1:focus {
    outline: none;
}

.loading-text::after {
    content: var(--blazor-load-percentage-text);
}