<div
    class="border-4 border-black p-6 shadow-[8px_8px_0px_0px_rgba(0,0,0,1)] md:p-10 dark:border-white dark:shadow-[8px_8px_0px_0px_rgba(255,255,255,1)]">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <h3 class="mb-6 text-2xl font-black tracking-tighter uppercase">
            @Title
        </h3>
    }

    @ChildContent
</div>

@code {
    [Parameter] public string? Title { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
}