<div
    class="@($"neo-frame flex h-32 w-32 items-center justify-center text-6xl font-black md:h-48 md:w-48 md:text-8xl {BackgroundClass}")">
    @Symbol
</div>

@code {
    [Parameter] [EditorRequired] public string Symbol { get; set; } = "";

    [Parameter] public string BackgroundClass { get; set; } = "bg-white dark:bg-black";
}