<nav class="navbar">
    <div class="navbar-start">
        <Brand />
    </div>
    <div class="navbar-center">
        <Tab />
    </div>
    <div class="navbar-end">
        <Theme />
    </div>
</nav>
