<nav class="navbar">
    <div class="navbar-start">
        <Brand />
    </div>
    <div class="navbar-center">
        @foreach (var navItem in NavItems)
        {
            <Tab @key="navItem" Text="@navItem.Text" Href="@navItem.Href" />
        }
    </div>
    <div class="navbar-end">
        <Theme DarkTheme="dim" />
    </div>
</nav>

@code {
    private sealed record NavItem(string Text, string Href);

    private static readonly NavItem[] NavItems = new[]
    {
        new NavItem("Home", "/"),
        new NavItem("About", "about"),
        new NavItem("Projects", "projects"),
        new NavItem("Blog", "https://suryami62.hashnode.dev/")
    };
}
