<nav class="navbar">
    <div class="navbar-start">
        <a class="btn btn-link" href="">
            <img src="img/logoHz.svg" alt="Logo suryami62" class="h-12 w-auto max-sm:hidden" />
            <img src="img/logoBx.svg" alt="Logo suryami62" class="h-12 w-auto sm:hidden" />
        </a>
    </div>
    <div class="navbar-center">
        <div role="tablist" class="tabs tabs-bordered tabs-lg">
            @foreach (var navItem in NavItems)
            {
                <NavLink role="tab" class="tab" href="@navItem.Href" ActiveClass="tab-active" Match="NavLinkMatch.All">
                    @navItem.Text
                </NavLink>
            }
        </div>
    </div>
    <div class="navbar-end">
        <label class="swap swap-rotate">
            <input type="checkbox" class="theme-controller" value="light" />
            <i class="fa-solid fa-sun fa-2x swap-on fill-current"></i>
            <i class="fa-solid fa-moon fa-2x swap-off fill-current"></i>
        </label>
    </div>
</nav>

@code {
    private class NavItem
    {
        public string? Text { get; set; }
        public string? Href { get; set; }
    }

    private List<NavItem> NavItems = new()
    {
        new NavItem { Text = "Home", Href = "" },
        new NavItem { Text = "Blog", Href = "blog" },
        new NavItem { Text = "About Me", Href = "aboutme" }
    };
}
