@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<div class="flex flex-col gap-8 py-8">
    <header class="border-b-4 border-black pb-6 dark:border-white">
        <h1 class="text-4xl font-black tracking-tighter uppercase md:text-5xl">Invalid user</h1>
    </header>
    <StatusMessage/>
</div>