<img src="img/photo.webp" alt="@Alt" class="mx-auto d-block rounded-circle img-thumbnail" width="150" />

<h1 class="text-center">@Name</h1>
<p class="text-center">@Username</p>

<p class="text-center">
	Halo all, <br />
	I am an enthusiastic web and application developer who is constantly on the lookout for new opportunities to expand my skills.
</p>

@code {
	string Alt = "Foto Surya Ramadhan";
	string Name = "Surya Ramadhan";
	string Username = "@suryami62";
}
