<div class="my-2.5 collapse collapse-arrow border-2">
	<input type="checkbox" />
	<div class="collapse-title content-center">
		My Code Repositories
	</div>
	<div class="collapse-content text-center ">
		<a class="btn btn-outline border-2 border-gray-200" href="https://github.com/suryami62/" target="_blank">
			<i class="fa-brands fa-github fa-2xl"></i>
			<span>GitHub</span>
		</a>

		<a class="btn btn-outline border-2 border-gray-200" href="https://gitlab.com/suryami62/" target="_blank">
			<i class="fa-brands fa-gitlab fa-2xl"></i>
			<span>GitLab</span>
		</a>

		<a class="btn btn-outline border-2 border-gray-200" href="https://hub.docker.com/u/suryami62/" target="_blank">
			<i class="fa-brands fa-docker fa-2xl"></i>
			<span>Docker</span>
		</a>
	</div>
</div>

<div class="my-2.5 collapse collapse-arrow border-2">
	<input type="checkbox" />
	<div class="collapse-title content-center">
		Developer Forums
	</div>
	<div class="collapse-content text-center">
		<a class="btn btn-outline border-2 border-gray-200" href="https://dev.to/suryami62/" target="_blank">
			<i class="fa-brands fa-dev fa-2xl"></i>
			<span>DEV</span>
		</a>

		<a class="btn btn-outline border-2 border-gray-200" href="https://stackoverflow.com/users/23341600" target="_blank">
			<i class="fa-brands fa-stack-overflow fa-2xl"></i>
			<span>Stack Overflow</span>
		</a>

		<a class="btn btn-outline border-2 border-gray-200" href="https://hashnode.com/@@suryami62" target="_blank">
			<i class="fa-brands fa-hashnode fa-2xl"></i>
			<span>Hashnode</span>
		</a>
	</div>
</div>

<div class="my-2.5 collapse collapse-arrow border-2">
	<input type="checkbox" />
	<div class="collapse-title content-center">
		My video platforms
	</div>
	<div class="collapse-content text-center">
		<a class="btn btn-outline border-2 border-gray-200" href="https://www.facebook.com/watch.suryami62/" target="_blank">
			<i class="fa-brands fa-facebook-f fa-2xl"></i>
			<span>Facebook</span>
		</a>

		<a class="btn btn-outline border-2 border-gray-200" href="https://www.youtube.com/@@suryami62" target="_blank">
			<i class="fa-brands fa-youtube fa-2xl"></i>
			<span>Youtube</span>
		</a>

		<a class="btn btn-outline border-2 border-gray-200" href="https://www.twitch.tv/suryami62/" target="_blank">
			<i class="fa-brands fa-twitch fa-2xl"></i>
			<span>Twitch</span>
		</a>
	</div>
</div>

@code {

}
