<div class="text-center pt-2.5">
	@foreach (var socialMedia in socialMedias)
	{
		<a aria-label="@socialMedia.AriaLabel" href="@socialMedia.Href" target="_blank">
			<i class="@socialMedia.IconClass fa-2x px-1"></i>
		</a>
	}
</div>

@code {
	public class SocialMediaLink
	{
		public string AriaLabel { get; set; }
		public string Href { get; set; }
		public string IconClass { get; set; }

		public SocialMediaLink(string label, string href, string icon)
		{
			AriaLabel = label;
			Href = href;
			IconClass = icon;
		}
	}

	private List<SocialMediaLink> socialMedias = new List<SocialMediaLink>
	{
		new SocialMediaLink ("facebook", "https://www.facebook.com/suryami62/", "fa-brands fa-square-facebook"),
		new SocialMediaLink ("instagram", "https://www.instagram.com/suryami62/", "fa-brands fa-square-instagram"),
		new SocialMediaLink ("twitter", "https://twitter.com/suryami62/", "fa-brands fa-square-x-twitter"),
		new SocialMediaLink ("linkedin", "https://www.linkedin.com/in/suryami62/", "fa-brands fa-linkedin"),
	};
}
