@page "/about"

@inject NavigationManager Navigation
@using Markdig

<PageTitle>About | Surya Ramadhan's website</PageTitle>

<HeadContent>
    <link rel="canonical" href="https://suryami62.my.id/about" />
</HeadContent>

<div class="m-auto my-10 min-h-screen text-justify prose">
    @if (IsDataLoaded)
    {
        @if (markdownContent != null)
        {
            @((MarkupString)Markdown.ToHtml(markdownContent))
        }
    }
    else
    {
        <SkeletonAbout />
    }
</div>

@code {
    private string? markdownContent;

    private bool IsDataLoaded { get; set; }

    protected async override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1000);
            IsDataLoaded = true;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        using (var httpClient = new HttpClient())
        {
            markdownContent = await httpClient.GetStringAsync("https://media.suryami62.my.id/content/about.md");
        }
    }
}
