@page "/about"

@inject IConfiguration Configuration
@inject PublicationAboutService PublicationAboutService
@inject NavigationManager NavManager
@using Markdig

<PageTitle>@($"About | {Configuration["Site:Title"]}")</PageTitle>

<HeadContent>
    <MetaOpenGraphCard Title="@($"About | {Configuration["Site:Title"]}")"
                       Description="Physics teacher with expertise in C# programming language. Experienced in educational and technological innovation."
                       Image="https://suryami62.my.id/img/socialCard.webp"
                       Url="@(Configuration["Site:BaseUrl"] + "/about/")" />
</HeadContent>

<div class="min-h-screen m-auto my-10 prose text-justify">
    @if (!IsDataLoaded)
    {
        <SkeletonAbout />
    }
    else if (!string.IsNullOrWhiteSpace(markdownContent))
    {
        @((MarkupString)Markdown.ToHtml(markdownContent))
    }
</div>

@code {
    private bool IsDataLoaded { get; set; }

    private PublicationAbout? Data;

    private string? markdownContent;

    protected override async Task OnInitializedAsync()
    {
        var host = Configuration["GraphQL:Variables:Host"];
        if (string.IsNullOrWhiteSpace(host))
        {
            throw new InvalidOperationException("The host configuration value is missing or empty.");
        }

        Data = await PublicationAboutService.GetUserAboutAsync(host);

        markdownContent = Data?.PublicationData?.StaticPage?.Content?.Markdown;

        IsDataLoaded = true;
    }
}
