@page "/about"

@inject IConfiguration Configuration
@inject PublicationAboutService PublicationAboutService
@using Markdig

<PageTitle>About | Surya Ramadhan's website</PageTitle>

<HeadContent>
    <link rel="canonical" href="https://suryami62.my.id/about/" />
</HeadContent>

<div class="min-h-screen m-auto my-10 prose text-justify">
    @if (!IsDataLoaded)
    {
        <SkeletonAbout />
    }
    else if (!string.IsNullOrWhiteSpace(markdownContent))
    {
        @((MarkupString)Markdown.ToHtml(markdownContent))
    }
</div>

@code {
    private bool IsDataLoaded { get; set; }

    private PublicationAbout? Data;

    private string? markdownContent;

    protected override async Task OnInitializedAsync()
    {
        var host = Configuration["GraphQL:Variables:Host"];
        if (string.IsNullOrWhiteSpace(host))
        {
            throw new InvalidOperationException("The host configuration value is missing or empty.");
        }

        Data = await PublicationAboutService.GetUserAboutAsync(host);

        markdownContent = Data?.PublicationData?.StaticPage?.Content?.Markdown;

        IsDataLoaded = true;
    }
}
