@page "/"

<PageTitle>Surya Ramadhan | suryami62's website</PageTitle>

<div class="hero min-h-screen">
    <div class="hero-content flex-col md:flex-row">
        <Avatar />
        <div class="text-center md:text-left">
            <h1 class="pb-2 text-6xl font-bold">SURYA RAMADHAN</h1>
            <span class="font-semibold italic">@@suryami62</span>
            <p class="py-2">Physics teacher and .NET developer.</p>
            <div class="pt-2.5">
                <Social />
            </div>
        </div>
    </div>
</div>
