@page "/projects"

@inject HttpClient Http

<PageTitle>Projects | Surya Ramadhan's website</PageTitle>

<HeadContent>
    <link rel="canonical" href="https://suryami62.my.id/projects" />
</HeadContent>

<div class="m-auto my-10 min-h-screen">
    <h1 class="text-4xl font-extrabold mb-8 text-center">List of My Projects</h1>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-3">
        @if (IsDataLoaded)
        {
            @if (projects != null)
            {
                @foreach (var project in projects)
                {
                    <Card Title="@project.Title" Img="@project.Img" Url="@project.Url" />
                }
            }
        }
        else
        {
            <SkeletonCard />
            <SkeletonCard />
            <SkeletonCard />
        }
    </div>
</div>

@code {
    private Project[]? projects;

    public class Project
    {
        public string? Title { get; set; }
        public string? Img { get; set; }
        public string? Url { get; set; }
    }

    private bool IsDataLoaded { get; set; }

    protected async override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1000);
            IsDataLoaded = true;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync() => projects =
    await Http.GetFromJsonAsync<Project[]>("https://media.suryami62.my.id/content/projects/projects.json");
}
