<div class="avatar">
    <div class="max-w-sm rounded-full overflow-hidden">
        <img src="@Img" alt="@(Alt ?? "Avatar")" loading="lazy" class="object-cover" />
    </div>
</div>

@code {
    [Parameter]
    public string? Img { get; set; }

    [Parameter]
    public string? Alt { get; set; }
}
