<a class="btn btn-link" href="/">
    <img class="h-12 w-auto @Display" src="@Logo" alt="@Alt" />
</a>

@code {
    [Parameter]
    public string? Logo { get; set; }

    [Parameter]
    public string? Alt { get; set; }

    [Parameter]
    public string? Display { get; set; }
}
