<div role="status" aria-label="Loading card" class="card bg-base-100 shadow-xl h-auto">
    <div class="skeleton w-full h-44 xl:h-60"></div>
    <div class="card-body">
        <div class="skeleton w-1/2 h-5 mb-6"></div>
        <div class="skeleton h-5 my-1"></div>
        <div class="skeleton h-5 my-1"></div>
        <div class="skeleton h-5 my-1"></div>
    </div>
</div>
