<div class="card bg-base-100 h-auto shadow-xl">
    <figure>
        <div class="skeleton h-44 sm:h-44 xl:h-60 w-full"></div>
    </figure>
    <div class="card-body">
        <div class="skeleton h-5 w-full"></div>
    </div>
</div>
