<div role="status" aria-live="polite">
    <div class="skeleton w-1/2 h-10 mb-8"></div>
    <div class="skeleton h-5 my-3"></div>
    <div class="skeleton h-5 my-3"></div>
    <div class="skeleton w-1/4 h-8 mt-12 mb-6"></div>
    <div class="skeleton h-5 my-3 ml-10"></div>
    <div class="skeleton h-5 my-3 ml-20"></div>
</div>
