<div class="h-auto shadow-xl card bg-base-100">
    <div class="w-full skeleton h-44 sm:h-44 xl:h-60"></div>
    <div class="card-body">
        <div class="w-1/2 h-5 mb-6 skeleton"></div>
        <div class="h-5 my-1 skeleton"></div>
        <div class="h-5 my-1 skeleton"></div>
        <div class="h-5 my-1 skeleton"></div>
    </div>
</div>
