<div class="skeleton h-10 w-1/2 mb-8"></div>
<div class="skeleton h-5 my-3"></div>
<div class="skeleton h-5 my-3"></div>
<div class="skeleton h-8 w-1/4 mt-12 mb-6"></div>
<div class="skeleton h-5 ml-10 my-3"></div>
<div class="skeleton h-5 ml-20 my-3"></div>
