<div role="status" aria-label="Loading home content" class="hero-content flex-col md:flex-row">
    <div class="avatar">
        <div class="skeleton w-screen max-w-sm rounded-full"></div>
    </div>
    <div>
        <div class="skeleton mb-2 h-15 w-lg"></div>
        <div class="skeleton mx-auto h-5 w-1/4 md:mx-0"></div>
        <div class="skeleton mx-auto my-2 h-6 w-1/2 md:mx-0"></div>
    </div>
</div>
