@inject NavigationManager NavigationManager

<div class="tabs tabs-bordered tabs-lg [--tab-border:4px]">
    <NavLink class="tab" href="@Href" ActiveClass="tab-active" Match="NavLinkMatch.All">
        @Text
    </NavLink>
</div>

@code {

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public string? Href { get; set; }
}
