@inject ILocalStorageService LocalStorage

<label class="swap swap-rotate" aria-label="Theme Toggle">
    <input type="checkbox" class="theme-controller" value="dim" @attributes="CheckedAttributes" @onclick="ThemeController" aria-checked="@ThemeChange" />
    @foreach (var themeMode in ThemeModes)
    {
        <i class="@themeMode.Icon fa-2x @themeMode.State fill-current" aria-hidden="true"></i>
    }
</label>

@code {
    private bool ThemeChange { get; set; }

    private record ThemeMode(string Icon, string State);

    private readonly List<ThemeMode> ThemeModes = new()
    {
        new ThemeMode("fa-solid fa-sun", "swap-on"),
        new ThemeMode("fa-solid fa-moon", "swap-off")
    };

    private Dictionary<string, object> CheckedAttributes { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await GetThemeState();
    }

    private async Task ThemeController()
    {
        ThemeChange = !ThemeChange;
        await LocalStorage.SetItemAsync("theme", ThemeChange);
        await GetThemeState();
    }

    private async Task GetThemeState()
    {
        ThemeChange = await LocalStorage.GetItemAsync<bool>("theme");
        CheckedAttributes = ThemeChange ? new() { { "checked", "checked" } } : new();
    }
}
