@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1:focus {
    outline: none;
}
