<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="blog">Blog</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="projects">Projects</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="about">About</NavLink>
            </li>
        </ul>
    </header>
</div>

@code {
    // No code needed for this simple layout
}