<header class="w-full border-b-4 border-black bg-white p-4 dark:border-white dark:bg-black">
    <nav class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-4 md:flex-row">
        <!-- Brand / Logo Area -->
        <div
            class="neo-frame -rotate-2 transform border-2 bg-black px-3 py-1 text-2xl font-black tracking-tighter text-white uppercase select-none dark:bg-white dark:text-black">
            <Brand/>
        </div>

        <ul class="flex flex-wrap justify-center gap-4">
            @foreach (var link in Links)
            {
                <li>
                    <NavButton Href="@link.Href" Text="@link.Text"/>
                </li>
            }
            <AuthorizeView Policy="@AdminAccessPolicy.Name">
                <li>
                    <NavButton Href="/Account/Admin" Text="admin"/>
                </li>
            </AuthorizeView>
        </ul>
    </nav>
</header>

@code {

    private record NavItem(string Href, string Text);

    private List<NavItem> Links { get; } =
    [
        new("", "home"),
        new("posts", "posts"),
        new("projects", "projects"),
        new("about", "about")
    ];

}
