<div class="container mx-auto">
    <header class="flex justify-center py-3">
        <ul class="flex space-x-2">
            <li>
                <NavLink class="px-4 py-2 rounded-md hover:bg-gray-200 transition-colors" href="" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li>
                <NavLink class="px-4 py-2 rounded-md hover:bg-gray-200 transition-colors" href="blog">Blog</NavLink>
            </li>
            <li>
                <NavLink class="px-4 py-2 rounded-md hover:bg-gray-200 transition-colors" href="projects">Projects</NavLink>
            </li>
            <li>
                <NavLink class="px-4 py-2 rounded-md hover:bg-gray-200 transition-colors" href="about">About</NavLink>
            </li>
        </ul>
    </header>
</div>

@code {
    // No code needed for this simple layout
}