@inherits LayoutComponentBase

<div class="container">
    <Header />
    <NavMenu />

    <!-- Idk what the point of this is. If it works, leave it that way. -->
    <main>
        <article class="px-3 pt-3">
            @Body
        </article>
    </main>

    <Footer />
</div>
