<nav class="pt-3">
    <ul class="nav nav-tabs nav-justified">
        @foreach (var navItem in NavItems)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="@navItem.Href" Match="NavLinkMatch.All">@navItem.Text</NavLink>
            </li>
        }
    </ul>
</nav>

@code {
    public class NavItem
    {
        public string Text { get; set; }
        public string Href { get; set; }

        public NavItem(string text, string href)
        {
            Text = text;
            Href = href;
        }
    }
    private List<NavItem> NavItems = new List<NavItem>
    {
        new NavItem("Home", ""),
        new NavItem("Blog", "blog"),
        new NavItem("About Me", "aboutme")
    };
}
