<nav class="pt-3">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="blog">
                Blog
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="aboutme">
                About Me
            </NavLink>
        </li>
    </ul>
</nav>