<nav role="tablist" class="py-5 tabs tabs-bordered">
    @foreach (var navItem in NavItems)
    {
        <NavLink role="tab" class="tab" href="@navItem.Href" ActiveClass="tab-active" Match="NavLinkMatch.All">
            @navItem.Text
        </NavLink>
    }
</nav>

@code {
    private class NavItem
    {
        public string? Text { get; set; }
        public string? Href { get; set; }
    }

    private List<NavItem> NavItems = new()
    {
        new NavItem { Text = "Bio Link", Href = "" },
        new NavItem { Text = "Blog", Href = "blog" },
        new NavItem { Text = "About Me", Href = "aboutme" }
    };
}
