<nav role="tablist" class="py-5 tabs tabs-bordered">
    @foreach (var navItem in NavItems)
    {
        <NavLink role="tab" class="tab" href="@navItem.Href" ActiveClass="tab-active" Match="NavLinkMatch.All">
            @navItem.Text
        </NavLink>
    }
</nav>

@code {
    public class NavItem
    {
        public string Text { get; set; }
        public string Href { get; set; }

        public NavItem(string text, string href)
        {
            Text = text;
            Href = href;
        }
    }
    private List<NavItem> NavItems = new List<NavItem>
    {
        new NavItem("Home", ""),
        new NavItem("Blog", "blog"),
        new NavItem("About Me", "aboutme")
    };
}
